<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bateaux</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bateaux</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    @for (bateau of bateauList; track bateau.id) {
      <app-list
        (click)="getBateauInfo(bateau.id)"
        [cardAlt]="bateau.alt"
        [cardSrc]="bateau.src"
        [title]="bateau.title"
        [cardContent]="bateau.content"
      ></app-list>
    }
  </div>
</ion-content>
