<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Accueil
    </ion-tab-button>
    <ion-tab-button tab="bateaux">
      <ion-icon name="boat"></ion-icon>
      Bateaux
    </ion-tab-button>
    <ion-tab-button tab="produits">
      <ion-icon name="fish"></ion-icon>
      Produits
    </ion-tab-button>
    <ion-tab-button tab="restaurants">
      <ion-icon name="restaurant"></ion-icon>
      Restaurants
    </ion-tab-button>
    <ion-tab-button tab="panier">
      @if (totalItemsPanier>0) {
      <p class="totalItemsPanier">{{ totalItemsPanier }}</p>
      }
      <ion-icon name="cart"></ion-icon>
      Panier
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
