<app-header [title]="title"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ restaurant.title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ restaurant.title }}</ion-card-title>
    </ion-card-header>

    <img [alt]="restaurant.alt" [src]="restaurant.src" />

    <div class="restaurant-details">
      <p class="restaurant-address">
        <ion-icon name="location-outline"></ion-icon>
        {{ restaurant.address }}
      </p>
      <p class="restaurant-days">
        <ion-icon name="calendar-outline"></ion-icon>
        {{ restaurant.openingDays }}
      </p>
      <p class="restaurant-hours">
        <ion-icon name="time-outline"></ion-icon>
        {{ restaurant.openingHours }} - {{ restaurant.closingHours }}
      </p>
      <ion-card-content class="restaurant-description">
        {{ restaurant.content }}
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>
