<app-header [title]="title"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      <ion-label>Nos produits frais</ion-label>
    </ion-list-header>
    @for (produit of produits; track produit.id) {
    <ion-item
      [disabled]="!produit.availability"
      style="position: relative"
      lines="none"
      (click)="setOpen(); setProduitSelec(produit)"
    >
      <img
        *ngIf="!produit.availability"
        style="position: absolute; left: 10px; width: 70px"
        src="assets/images/victime-succes.png"
        alt="vignette victime de son succès"
      />
      <ion-avatar>
        <img [src]="produit.src" [alt]="produit.name" />
      </ion-avatar>
      <ion-label>
        <p>{{ produit.name }} ({{ produit.unit }})</p>
        <p>{{ produit.comments }}</p>
      </ion-label>
      <p *ngIf="produit.discount">
        <img
          [style.width.px]="20"
          [style.margin-right.px]="13"
          src="assets/icon/promotion.png"
          alt="vignette en promotion"
        />
      </p>
      <div id="promo-container">
        <p *ngIf="produit.discount">
          <s>{{ produit.price | number:'1.2-2' }} €</s>
        </p>
        <p class="ion-text-end">{{ produit.newPrice | number:'1.2-2' }} €</p>
      </div>
    </ion-item>
    }
  </ion-list>

  <app-quantite-modal #modalComponent [produitSelec]="produitSelec"></app-quantite-modal>
</ion-content>
