<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Informations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Informations</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <img src="../../../assets/thibault.png" />
    <div class="icons">
      <a target="_blank" href="https://facebook.com/lebateaudethibault">
        <ion-icon name="logo-facebook" size="large"></ion-icon
      ></a>
      <a target="_blank" href="http://instagram.com/lebateaudethibault">
        <ion-icon name="logo-instagram" size="large"></ion-icon
      ></a>
      <a target="_blank" href="https://youtube.com/lebateaudethibault">
        <ion-icon name="logo-youtube" size="large"></ion-icon
      ></a>
    </div>
    <p>
      Qu'il est chaud le soleil<br />Quand nous sommes en vadances<br />Y a d'
      la joie, des hirondelles<br />C'ast le sud de la France<br />Papa bricole
      au garage<br />Maman lit dans la chaise longue<br />Dans ce joli
      paysage<br />Moi, je me balade en tongs<br />Que de bonheur!<br />Que de
      bonheur!
    </p>
  </div>
</ion-content>
