<app-header [title]="title"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col style="margin: 0 auto">
          @for (restaurant of restaurants; track restaurant.id) {
          <app-card
            (click)="getRestaurantInfo(restaurant)"
            [cardAlt]="restaurant.alt"
            [cardSrc]="restaurant.src"
            [title]="restaurant.title"
          ></app-card>
          }
        </ion-col></ion-row
      ></ion-grid
    >
  </div>
</ion-content>
