<app-header [title]="title"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    @for (restaurant of restaurants; track restaurant.id) {
    <app-card
      (click)="getRestaurantInfo(restaurant)"
      [cardAlt]="restaurant.alt"
      [cardSrc]="restaurant.src"
      [title]="restaurant.title"
    ></app-card>
    }
  </div>
</ion-content>
