<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Détails recette</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Détails recette</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card id="card-recette">
    <ion-card-header>
      <ion-card-title>{{ recette.title }}</ion-card-title>
    </ion-card-header>

    <img
      id="image-recette-infos"
      [alt]="recette.alt"
      [src]="recette.src"
      style="margin: 0 auto"
    />
    <div>
      <ion-card-content>
        @for (item of recette.etapes; track $index) {
        <p class="ion-padding-top">{{item}}</p>
        }
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>
